{% extends template_name %} {% load static %} {% block content %}

<div class="InnertopBanner" style="background-image:url({{privacy.banner.url}});">
    <div class="InnertopBanner-content d-flex align-items-center w-100 text-center">
        <div class="w-100">
            <div class="container">
                <h1>{{privacy.banner_heading}}</h1>
                <p>{{privacy.banner_content}}</p>
            </div>
        </div>
    </div>
</div>
<!-- main Start -->
<main class="main-container">
    <section class="static-content-section">
        <div class="container">
            <div class="sec_head mb20">
                <h3>Privacy Policy</h3>
            </div>
            <p>{{privacy.content}}</p>
        </div>
    </section>



</main>
<!-- main End -->

{% endblock %}