{% extends 'dashboardheader.html' %} {% load static %} {% block content %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


<main class="main-container">
   <!-- ontainer-1280 Start -->
   <div class="container-1280">
      <!-- Sidebar-content-box Start -->
      <div class="sidebar-content-box clearfix">
         <!--Aside Start -->
         <aside class="sidebar">
            <span class="back_btn">
               <i class="fas fa-chevron-left"></i>
            </span>
            <!-- aside-box Start -->
            {% include 'asidebox.html' %}
            <!-- aside-box End -->
         </aside>
         <!--Aside End -->
         <!-- Right Content Box-->
         <div class="right_content_box mb60">
            <!-- step block start -->
            <div class="steps-block">
               <ul class="steps">
                  <li class="active">
                     <a href="{% url 'analyticsmaven:registration-details' user.uuid %}">Step 1/3</a>
                  </li>
                  <li class="active">
                     <a href="{% url 'analyticsmaven:user-skills' user.uuid %}">Step 2/3</a>
                  </li>
                  <li>
                     <a>Step 3/3</a>
                  </li>
               </ul>
            </div>
            <!-- step block end -->
            <!-- first step block start -->
            <div class="second-step">
               <h2 class="profile-heading">Thank you for your interest in Analytics Mavens!</h2>
               <form class="step-form" method="POST" onsubmit="return validateskill()" action="{% url 'analyticsmaven:user-skills' user.uuid %}">
                  {% csrf_token %}
                  <div class="skills_box_set">
                     <h2>Area</h2>
                     <ul class="new_custom_skills_list clearfix">
                        {% for area in areas %} {% if area in user.job_seeker.area.all %}
                        <li id='{{area.id}}' value='{{area.id}}' class="select-subSkill active">
                           <span class="skills_tag">
                              <input type="checkbox" id="area_{{area.id}}" name="area" value='{{area.id}}' />{{area.name}}
                              <script>
                                 $("#area_{{area.id}}").attr("checked", "checked")
                              </script>
                           </span>
                        </li>
                        {% else %}
                        <li id='{{area.id}}' value='{{area.id}}' class="select-subSkill">
                           <span class="skills_tag">
                              <input type="checkbox" name="area" value='{{area.id}}' />{{area.name}}
                           </span>
                        </li>
                        {% endif %} {% endfor %}
                        <li id='0' value='0' class="select-subSkill-area">
                           <span class="skills_tag">
                              <input type="checkbox" name="area" id="custom-area" placeholder='Please enter Area' style="border: none;background: none;"
                              />
                              <strong id="area-text">Others</strong>
                           </span>
                        </li>
                     </ul>
                     <div id="area_error" style="color: red;margin-bottom: 10px"></div>
                  </div>
                  <!-- skills_box_set Start -->
                  <!-- skills_box_set End -->
                  <div class="skills_box_set">
                     <h2>Industry</h2>
                     <ul class="new_custom_skills_list clearfix">
                        {% for industrys in industries %} {% if industrys in user.job_seeker.industry.all %}
                        <li id='{{industrys.id}}' value='{{industrys.id}}' class="select-subSkill active">
                           <span class="skills_tag">
                              <input type="checkbox" name="industry" id='industry_{{industrys.id}}' value='{{industrys.id}}' /> {{industrys.name}}
                              <script>
                                 $("#industry_{{industrys.id}}").attr("checked", "checked")
                              </script>
                           </span>
                        </li>
                        {% else %}
                        <li id='{{industrys.id}}' value='{{industrys.id}}' class="select-subSkill">
                           <span class="skills_tag">
                              <input type="checkbox" name="industry" value='{{industrys.id}}' /> {{industrys.name}}
                           </span>
                        </li>
                        {% endif %} {% endfor %}
                        <li id='0' value='0' class="select-subSkill-industry">
                           <span class="skills_tag">
                              <input type="checkbox" name="industry" id="custom-industry" placeholder='Please enter Industry' style="border: none;background: none;"
                              />
                              <strong id="industry-text">Others</strong>
                           </span>
                        </li>
                     </ul>
                     <div id="industry_error" style="color: red;margin-bottom: 10px"></div>
                  </div>
                  <!-- skills_box_set Start -->
                  <!-- skills_box_set End -->
                  <div class="skills_box_set">
                     <h2>Tools & Language</h2>
                     <ul class="new_custom_skills_list clearfix">
                        {% for skill in skills %} {% if skill in user.job_seeker.tools_and_language.all %}
                        <li id='{{skill.id}}' value='{{skill.id}}' class="select-subSkill active">
                           <span class="skills_tag">
                              <input type="checkbox" name="skill" id='skill_{{skill.id}}' value='{{skill.id}}' />{{skill.name}}
                              <script>
                                 $("#skill_{{skill.id}}").attr("checked", "checked")
                              </script>
                           </span>
                        </li>
                        {% else %}
                        <li id='{{skill.id}}' value='{{skill.id}}' class="select-subSkill">
                           <span class="skills_tag">
                              <input type="checkbox" name="skill" value='{{skill.id}}' />{{skill.name}}
                           </span>
                        </li>{% endif %} {% endfor %}
                        <li id='0' value='0' class="select-subSkill-skill">
                           <span class="skills_tag">
                              <input type="checkbox" name="skill" id="custom-skill" placeholder='Please enter Skill' style="border: none;background: none;"
                              />
                              <strong id="skill-text">Others</strong>
                           </span>
                        </li>
                     </ul>
                     <div id="tool_error" style="color: red;margin-bottom: 10px"></div>
                  </div>
                  <!-- skills_box_set Start -->
                  <div class="form-group form-btn text-center">
                     <button type="submit" class="btn btn-green  max-WT-200">CONTINUE</button>
                  </div>
               </form>
            </div>
            <!-- first step block end -->
         </div>
         <!-- Right Content Box End -->
      </div>
      <!-- Sidebar-content-box End -->
   </div>
   <!-- container-1280 End -->
</main>
<!-- main End -->
<script>
   var validateskill = function () {
      var area_checkboxs = document.getElementsByName("area");
      var skill_checkboxs = document.getElementsByName("skill");
      var industry_checkboxs = document.getElementsByName("industry");
      var area_okay = false;
      var skill_okay = false;
      var industry_okay = false;
      var l1 = area_checkboxs.length;
      var l2 = skill_checkboxs.length;
      var l3 = industry_checkboxs.length;

      for (var i = 0; i < l1; i++) {
         if (area_checkboxs[i].checked) {
            area_okay = true;
            break;
         }
      }
      for (var i = 0; i < l2; i++) {
         if (skill_checkboxs[i].checked) {
            skill_okay = true;
            break;
         }
      }
      for (var i = 0; i < l3; i++) {
         if (industry_checkboxs[i].checked) {
            industry_okay = true;
            break;
         }
      }
      if (area_okay & skill_okay & industry_okay) {
         $("#area_error").text("")
         $("#industry_error").text("")
         $("#tool_error").text("")
         return true;
      } else {
         if (!area_okay) {
            $("#area_error").text("Please select at least one of your Area of Work")
         } else {
            $("#area_error").text("")
         }
         if (!industry_okay) {
            $("#industry_error").text("Please select at least one of your Work of Industry")
         } else {
            $("#industry_error").text("")
         }
         if (!skill_okay) {
            $("#tool_error").text("Please select at least one of your Tool & Language/Skills")
         } else {
            $("#tool_error").text("")
         }
         return false;
      }
   }
</script> {% if user.job_seeker.area.all %}
<script>
   validateskill()
</script> {% endif %}
<script>
   $(".select-subSkill").on('click', function () {
      if ($(this).hasClass('active')) {
         $(this).removeClass("active");
      } else {
         $(this).addClass("active");
      }
   });
   $(".select-subSkill-area").on('click', function () {
      if ($(this).hasClass('active')) {
         $(this).removeClass("active");
         return
      } else {
         $(this).addClass("active");
         $(this).find("input[name=area]").attr('type', 'text')
         $("#area-text").text("")
      }

   })
   $("#custom-area").on('blur', function () {
      if ($(this).val() && $(this).attr('type') == 'text') {
         $("#area-text").text($(this).val())
      } else {
         $("#area-text").text("Others")
         $(this).prop("checked", false)
         $(".select-subSkill-area").removeClass("active")
      }
      $(this).attr('type', 'checkbox')
   })


   $(".select-subSkill-industry").on('click', function () {
      if ($(this).hasClass('active')) {
         $(this).removeClass("active");
         return
      } else {
         $(this).addClass("active");
         $(this).find("input[name=industry]").attr('type', 'text')
         $("#industry-text").text("")
      }
   })
   $("#custom-industry").on('blur', function () {
      if ($(this).val() && $(this).attr('type') == 'text') {
         $("#industry-text").text($(this).val())
      } else {
         $("#industry-text").text("Others")
         $(this).prop("checked", false)
         $(".select-subSkill-industry").removeClass("active")
      }
      $(this).attr('type', 'checkbox')
   })

   $(".select-subSkill-skill").on('click', function () {
      if ($(this).hasClass('active')) {
         $(this).removeClass("active");
         return
      } else {
         $(this).addClass("active");
         $(this).find("input[name=skill]").attr('type', 'text')
         $("#skill-text").text("")
      }
   })
   $("#custom-skill").on('blur', function () {
      if ($(this).val() && $(this).attr('type') == 'text') {
         $("#skill-text").text($(this).val())
      } else {
         $("#skill-text").text("Others")
         $(this).prop("checked", false)
         $(".select-subSkill-skill").removeClass("active")
      }
      $(this).attr('type', 'checkbox')
   })
</script> {% endblock %}