{% extends "admin/base_site.html" %}
{% load i18n admin_static material_form %}

{% block extrastyle %}
{{ block.super }}
{{ media.css }}
{% endblock %}


{% block body %}
{% block main %}
<div class="registration" style="background:url({% static 'material/imgs/background.svg' %})">
    <div class="sidebar z-depth-3">
        <h4>{{ title }}</h4>
        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
        <form action="{% url 'forgotpasswordpage' %}" method="POST" onsubmit="return myFunction()" id="login-form">{% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" required="True" />
            {% if 'username' in form.fields %}
                {% form %}
                    {% part form.username prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
                    {% part form.password prefix %}<i class="material-icons prefix">lock</i>{% endpart %}
                {% endform %}
                {% else %}
                    {% form %}{% endform %}
                {% endif %}
                
                {% url 'admin_password_reset' as password_reset_url %}
                {% if password_reset_url %}
                <div class="password-reset-link">
                <div class="div2" id="div2"></div>
                </div>
                {% endif %}
                <div class="action right-align">
                   <center> <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button></center>
                </div>
        </form>      
    </div>

    <script>
function myFunction() {
    var EmailId = $('#id_email').val();
    var regex =  /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;


     if (EmailId.length == "")
    {
        $('#div2').html("Please enter a Email Id.");
        $('#div2').css("color","red");
              $('#div2').show();
        return false;
    }else if (EmailId.indexOf("@", 0) <0 )
    {
        $('#div2').html("Invalid Email Id.");
        $('#div2').css("color","red");
              $('#div2').show();
        return false;
        }
    else if (!regex.test(EmailId))
            {
              $('#div2').html("Enter valid email");
              $('#div2').css("color","red");
              $('#div2').show();
              return false;
    }else{
        $('#div2').hide();
        return true;
    }
}
    </script>
    {% block icon_wrapper %}
    <div class="logo">
        <i class="logo__icon material-icons">{% block icon %}account_circle{% endblock %}</i>
    </div>
    {% endblock %}
</div>
{% endblock %}
{% endblock %}
