{% extends 'dashboardheader.html' %} {% load static %} {% load filters %} {% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<main class="main-container">
  <!-- ontainer-1280 Start -->
  <div class="container-1280">
    <!-- Sidebar-content-box Start -->
    <div class="sidebar-content-box clearfix">
      <!--Aside Start -->
      <aside class="sidebar">
        <span class="back_btn">
          <i class="fas fa-chevron-left"></i>
        </span>
        {% include 'dashboard-aside.html' %}
        <!-- aside-box End -->
      </aside>
      <!--Aside End -->
      <!-- Right Content Box-->
      <div class="right_content_box mb60">
        <!-- global_tabs start -->
        <div class="view-jobseeker" id='applied_job_{{applied_applicant.id}}'>
          <div class="content-box">
            <div class="profile-view d-flex">
              <div class="userimg">
                {% if freelancer.avatar %}
                <img id="signup-image" src="{{freelancer.avatar}}" alt="user pic" /> {% else %}
                <img id="signup-image" src="{% static 'images/avatar.png' %}" alt="user pic" /> {% endif %}
              </div>
              <div class="about-user">
                <h4>{{freelancer.first_name}} {{freelancer.last_name}}
                </h4>
                <p>{{freelancer.job_seeker.professional_title}}</p>
                <p>{{freelancer.job_seeker.overview}}</p>
                <p>{{freelancer.job_seeker.country.name}}</p>
              </div>
            </div>
          </div>
          {% if job %}
          <div class="content-box">
            <label class="pro-detail">Contract Message -</label>
            <div style="word-break: break-all;">
              {{job.reason}}
            </div>
            {% if job.resume %}
            <label class="pro-detail">Resume -</label>
            <div class="">
              <embed class="resume" src="{{job.document}}" />
            </div>
            {% else %}
            <label class="pro-detail">No Resume Uploaded</label>
            {% endif %}
          </div>
          {% endif %}
          <div class="content-box">
            {% if freelancer.job_seeker.job_seeker_education.count %}
            <label class="pro-detail">Education -</label>
            {% for education in freelancer.job_seeker.job_seeker_education.all %}
            <div class="row education-row">
              <div class="col-sm-1">
                <i class="fas fa-university"></i>
              </div>
              <div class="col-sm-11 education-detail">
                <h5>{{education.school}}</h5>
                <div class="education-lbl">
                  {{education.degree}}, {{education.field_of_study}} {% if education.grade %} with CGPA/Grades :
                  {{education.grade}} {% endif%}
                </div>
                <div class="education-lbl">
                  {{education.from_year}} - {{education.to_year}}
                </div>
                <div class="education-lbl">
                  {{education.activities_socities}}
                </div>
                <div class="education-lbl">
                  {{education.description}}
                </div>
              </div>
            </div>
            {% endfor %}
            {% endif %}
          </div>
          <div class="area-interest">
            <label class="pro-detail paddL0">Average Rating:</label>
            <ul class="show_rating_list">
              {% for i in "12345"%}
              <li>
                {% if freelancer.job_seeker.experience >= i %}
                <i class="rated fas fa-star"></i>
                {% else %}
                <i class="fas fa-star"></i>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="content-box">
            {% if freelancer.job_seeker.area.count %}
            <label class="pro-detail">Area - </label>
            <div class="">
              <ul class="skills_tag_list d-inline-block">
                {% for area in freelancer.job_seeker.area.all %}
                <li>
                  <span class="skills_tag">{{area}} </span>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
          <div class="content-box">
            {% if freelancer.job_seeker.industry.count %}
            <label class="pro-detail">Industry - </label>
            <div class="">
              <ul class="skills_tag_list d-inline-block">
                {% for industry in freelancer.job_seeker.industry.all %}
                <li>
                  <span class="skills_tag">{{industry}}</span>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
          <div class="content-box">
            {% if freelancer.user_skill.count %}
            <label class="pro-detail">Tools & Language - </label>
            <div class="">
              <ul class="skills_tag_list d-inline-block">
                {% for skill in freelancer.user_skill.all %} 
                {% if skill.skill in freelancer.job_seeker.tools_and_language.all%}
                <li>
                  <span class="skills_tag">{{skill.skill.name}}
                    <ul class="show_rating_list d-inherit-block">
                      {% for i in "12345"%}
                      <li>
                        {% if skill.rate >= i %}
                        <i class="rated fas fa-star"></i>
                        {% else %}
                        <i class="fas fa-star"></i>
                        {% endif %}
                      </li>
                      {% endfor %}
                    </ul>
                  </span>
                </li>
                {% endif %} {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
          <!-- {% for skill in applied_applicant.user.user_skill.all %} {% if skill.skill in applied_applicant.user.job_seeker.tools_and_language.all%}
                  <div class="area-interest">
                    <label class="pro-detail paddL0">{{skill.skill.name}}:</label>
                    <ul class="show_rating_list">
                      {% for i in "12345"%}
                      <li>
                        {% if skill.rate >= i %}
                        <i class="rated fas fa-star"></i>
                        {% else %}
                        <i class="fas fa-star"></i>
                        {% endif %}
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  {% endif %} {% endfor %} -->
          <!-- <div class="area-interest mt10">
                  <label class="pro-detail paddL0">Working Experience : 10 Years</label>
                </div> -->
          <div class="content-box">
            {% if freelancer.job_seeker.timezone %}
            <label class="pro-detail pR20 paddL0">Timezone -</label>
            <div class="">
              <ul class="skills_tag_list d-inline-block">
                <li>
                  <span class="skills_tag">{{freelancer.job_seeker.timezone.name}}</span>
                </li>
              </ul>
            </div>
            {% endif %}
          </div>
          <div class="content-box">
            {% if  freelancer.job_seeker.job_seeker_employment.count %}
            <label class="pro-detail">Employer History - </label>
            {% for employment in freelancer.job_seeker.job_seeker_employment.all%}
            <div class="row education-row">
              <div class="col-sm-1">
                <i class="fas fa-briefcase"></i>
              </div>
              <div class="col-sm-11 education-detail">
                <h5>{{employment.title}}</h5>
                <div class="education-lbl">
                  {{employment.company}}
                </div>
                <div class="education-lbl">
                  {{employment.get_from_month_display}}, {{employment.from_year}} - {% if employment.currently%}
                  Present {% else %} {{employment.get_to_month_display}},
                  {{employment.to_year}} {% endif %}
                </div>
                <div class="education-lbl">
                  {{employment.location}}
                </div>
                <div class="education-lbl">
                  {{employment.description}}
                </div>
              </div>

            </div>
            {% endfor %}
            {% endif %}
          </div>
          <div class="content-box">
            {% if freelancer.job_seeker.language_known.count %}
            <label class="pro-detail">Languages Known - </label>
            <div>
              <ul class="skills_tag_list d-inline-block">
                {% for language in freelancer.job_seeker.language_known.all %}
                <li>
                  <span class="skills_tag">{{language|title}}</span>
                </li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
          {% if freelancer.reviewee.all %}
          <div class="content-box">
            <label class="pro-detail">Review & Rating - </label>
            {% for review in freelancer.reviewee.all %}
            <div class="row education-row">
              <div class="col-sm-1">
                <i class="far fa-smile"></i>
              </div>
              <div class="col-sm-11 education-detail">
                <h5>{{review.company.first_name}}</h5>
                <div class="education-lbl">
                  #{{review.job.job.id}} - {{review.job.job.job_name}}
                </div>
                <div class="flex1 star_flex">
                  <ul class="show_rating_list" style="padding: 0px">
                    {% for i in "12345" %} {% if review.rate >= i %}
                    <li class="select-star rated">
                      <i class="fas fa-star"></i>
                    </li>
                    {% else %}
                    <li class="select-star">
                      <i class="fas fa-star"></i>
                    </li> {% endif %}
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="education-lbl">
                  {{review.feedback}}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endif %} 
          {% if job %}
          <div class="matched_action_btn" style="margin-top: 10px ">
            <a href="#escrowModal" onclick=" return escrow({{job.id}})" class="btn btn-green btn-block-50 job-awarded"
              id="{{job.id}}" data-toggle="modal" data-target="#escrowModal">Approved</a>
            <a class="btn btn-green btn-block-50" href="{% url 'analyticsmaven:message' job.job.company_name.user.uuid freelancer.uuid job.job.uuid %}">Chat</a>
          </div>
          {% endif %}
        </div>
        <!-- global_tabs End -->
      </div>
      <!-- Right Content Box End -->
    </div>
    <!-- Sidebar-content-box End -->
  </div>
  <div class="modal fade global-modal contract-modal" id="escrowModal">
    <div class="modal-dialog max-WT-600">
      <form class="step-form" method="POST" action="{% url 'analyticsmaven:job-approved' %}">
        {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <span class="modal_logo">
              <img class="hide_small" src="{% static 'images/logo.png' %}" alt="Logo" />
              <img class="hide_large" src="{% static 'images/logo-mob.png' %} " alt="Logo" />
            </span>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="modal_box_title">Escrow Payment</div>
            <div class="form-group">
              <h6 style="text-align: center">Thanks for Approving the Job</h6>
              <input type="hidden" name="job" id="escrow_job">
              <label for="textarea">Amount</label>
              <input type="number" class="form-control" placeholder="Please enter your escrow Payment..." id="escrow" name="escrow" min="1" />
            </div>
            <button type="submit" class="btn btn-dark-gray mt10 escrow-job" style="width: 100%">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- container-1280 End -->
  <script>
    escrow = function (id) {
      $("#escrow_job").val(id)
      return true
    }
  </script> {% endblock %}