<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,width=device-width,user-scalable=no">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Analytics Mavens</title>
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="fonts/stylesheet.css" rel="stylesheet">
      <link href="css/slick.css" rel="stylesheet">
      <link href="css/slick-theme.css" rel="stylesheet">
      <link href="css/style.css" rel="stylesheet">
      <link href="css/mobile.css" rel="stylesheet">
   </head>
   <body class="logged">
      <header class="d-flex  header_fixed_menu align-items-center">
         <div class="logo align-items-center">
            <a href="index.html">
            <img class="hide_small" src="images/logo.png" alt="Logo"/>
            <img class="hide_large" src="images/logo-mob.png" alt="Logo"/>
            </a>
         </div>
         <!-- Search_box Start -->
         <div class="header_search_box ml-auto ">
		    
            <form>
               <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search Job"/>
                  <div class="input-group-append">
                     <span class="input-group-text" id="basic-addon2"><i class="fas fa-search"></i></span>
                  </div>
               </div>
            </form>
         </div>
         <!-- Search_box End -->
         <!-- header_menu Start -->
         <div class="header_menu ml-auto">
            <a href="message.html">Messages</a>
            <!-- <a href="javascript:void(0);">My Jobs</a> -->
         </div>
         <!-- header_menu End -->
         <div class="header_right_box ml-auto">
            <div class="notify_icon">
			   <a href="javascript:void(0);" class=" toggle_search hide_from_tab"><i class="fas fa-search"></i></a>
               <a href="javascript:void(0);"><i class="fas fa-bell"></i><span class="badge">2</span></a>
            </div>
            <div class="top_user_info">
               <strong class="head-user-name">Welcome, Cameron</strong>
               <span class="head-user-img"><img src="images/user-icon.png" alt="Logo"/></span>
			   
			   <div class="dropdown-menu head-drop-down">
                  <a class="dropdown-item" href="profile.html">My Profile</a>
                  <a class="dropdown-item" href="#change_passwprd_modal" data-toggle="modal" data-target="#change_passwprd_modal">Change Password</a>
                  <a class="dropdown-item" href="#signout_modal" data-toggle="modal" data-target="#signout_modal">Logout</a>
               </div>
			   
            </div>
         </div>
      </header>
      <main class="main-container">
         <!-- ontainer-1280 Start -->
         <div class="container-1280">
            <!-- Sidebar-content-box Start -->
            <div class="sidebar-content-box clearfix">
               <!--Aside Start -->
               <aside class="sidebar">
			      <span class="back_btn"><i class="fas fa-chevron-left"></i></span>
                  <!-- aside-box Start -->
                  <div class="aside-box">
                     <div class="profile_pic">
					  <img src="images/avatar.png" alt="user pic"/>
					  <button class="btn btn-green  radius0 btn-block">Change Picture</button>
					 </div>
                     <h6 class="profile_name">Cameron Bancroft</h6>
                     <p class="profile_id">cameronbancroft@gmail.com</p>
                     <div class="profile_progress_block">
                        <div class="progress_slider">
                           <span style="width:30%;"></span>
                        </div>
                        <div class="profile-status"><span>25%</span>Profile Completed</div>
                     </div>
                     <h5 class="aside_head">SKILLS</h5>
                     <div class="skills_tag">ERP/CRM Software</div>
                     <div class="skills_tag">Information Security</div>
                     <div class="skills_tag">DB Administration</div>
                     <a href="javascript:void(0);" class="skills_tag green-bg" data-toggle="modal" data-target="#profileModal">Upgrade Your Profile</a>
                  </div>
                  <!-- aside-box End -->
               </aside>
               <!--Aside End -->
			   
			   <!-- Right Content Box-->
			   <div class="right_content_box mb60">
			   <!-- global_tabs start -->
			     <div class="global_tabs">
			     <ul class="nav nav-tabs tabs4col" id="myTab" role="tablist">
                        <li class="nav-item">
                           <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="home" aria-selected="true">
                           Active Jobs
                           </a>
                        </li>
                        
                        <li class="nav-item">
                           <a class="nav-link" id="contact-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="contact" aria-selected="false">
                           Matching Jobs
                           </a>
                        </li>
						
						
                        <li class="nav-item">
                           <a class="nav-link" id="favourite-tab" data-toggle="tab" href="#tab4" role="tab" aria-controls="contact" aria-selected="false">
                           Favourite Jobs
                           </a>
                        </li>
						
						<li class="nav-item">
                           <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="profile" aria-selected="false">
                           Jobs Completed
                           </a>
                        </li>
                     </ul>
				
				<!-- Tab Content Start -->
				<div class="tab-content" id="myTabContent">
				 <!-- Tab 1 Start -->
				  <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="home-tab">
                     <div class="no-active-jobs">No Active Jobs</div>                                         
				  </div>
				  <!-- Tab 1 End -->
				  
				  <!-- Tab 2 Start -->
				  <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="profile-tab">
                      <div class="no-active-jobs">No Active Jobs</div>    
                  </div>
				  <!-- Tab 2 End -->
				  
				  <!-- Tab 3 Start -->
				  <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="contact-tab">
                      <div class="no-active-jobs">No Active Jobs</div>  
                  </div>
				  <!-- Tab 3 End -->
				  <!-- Tab 4 Start -->
				  <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="favourite-tab">
                      <div class="no-active-jobs">No Active Jobs</div>  
                  </div>
				  <!-- Tab 4 End -->
				  
				</div>
				<!-- Tab Content Start -->
				</div>
				<!-- global_tabs End -->
			   </div>
			   <!-- Right Content Box End -->
            </div>
            <!-- Sidebar-content-box End -->
         </div>
         <!-- container-1280 End -->
         {% include 'refer.html' %} 
      </main>
      <!-- main End -->
    
      <section class="browse_skill_links">
         <div class="custom-container">
            <div class="sec_head mb20">
               <h3>Browse Top Skills</h3>
            </div>
            <ul class="techlinks clearfix">
               <li>
                  <a href="javascript:void(0);">Android Developer</a>
                  <a href="javascript:void(0);">Bookkeeper</a>
                  <a href="javascript:void(0);">Content Writer</a>
                  <a href="javascript:void(0);">Copywriter</a>
                  <a href="javascript:void(0);">Customer Service Representative</a>
                  <a href="javascript:void(0);">Database Administrator</a>
                  <a href="javascript:void(0);">Data Scientist</a>
                  <a href="javascript:void(0);">Facebook Developer</a>
               </li>
               <li>
                  <a href="javascript:void(0);">Front-End Developer</a>
                  <a href="javascript:void(0);">Game Developer</a>
                  <a href="javascript:void(0);">Graphic Designer</a>
                  <a href="javascript:void(0);">Information Security Analyst</a>
                  <a href="javascript:void(0);">IOS Developer</a>
                  <a href="javascript:void(0);">Java Developer</a>
                  <a href="javascript:void(0);">Logo Designer</a>
                  <a href="javascript:void(0);">Mobile App Developer</a>
               </li>
               <li>
                  <a href="javascript:void(0);">PHP Developer</a>
                  <a href="javascript:void(0);">Python Developer</a>
                  <a href="javascript:void(0);">Resume Writer</a>
                  <a href="javascript:void(0);">Sales Consultant</a>
                  <a href="javascript:void(0);">SEO Expert</a>
                  <a href="javascript:void(0);">Social Media Manager</a>
                  <a href="javascript:void(0);">Software Developer</a>
                  <a href="javascript:void(0);">Software Engineer</a>
               </li>
               <li>
                  <a href="javascript:void(0);">PHP Developer</a>
                  <a href="javascript:void(0);">Python Developer</a>
                  <a href="javascript:void(0);">Resume Writer</a>
                  <a href="javascript:void(0);">Sales Consultant</a>
                  <a href="javascript:void(0);">SEO Expert</a>
                  <a href="javascript:void(0);">Social Media Manager</a>
                  <a href="javascript:void(0);">Software Developer</a>
                  <a href="javascript:void(0);">Software Engineer</a>
               </li>
               <li>
                  <a href="javascript:void(0);">Technical Writer</a>
                  <a href="javascript:void(0);">UI Designer</a>
                  <a href="javascript:void(0);">UX Designer</a>
                  <a href="javascript:void(0);">Virtual Assistant</a>
                  <a href="javascript:void(0);">Web Designer</a>
                  <a href="javascript:void(0);">Wordpress Developer</a>
                  <a href="javascript:void(0);">Writer</a>
               </li>
            </ul>
         </div>
      </section>
      <footer class="footer-inner">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-2">
                  <a href="index.html" class="footer_logo">
                  <img src="images/logo.png" alt="Logo"/>
                  </a>
               </div>
               <div class="col-lg-8">
                  <div class="footer-content">
                     <div class="footer-text">
                        <ul class="footmenu">
                           <li><a href="about-us.html">About Us</a></li>
                           <li><a href="faq.html">FAQ</a></li>
                           <li><a href="career.html">Careers</a></li>
                           <li><a href="contact-us.html">Contact Us</a></li>
                          
                           <li><a href="terms.html">Terms & Conditions</a></li>
                           <li><a href="privacy-policy.html">Privacy & Policy</a></li>
                        </ul>
                        <p class="copyright">© 2018 - All Rights Reserved</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-2">
                  <ul class="socialList">
                     <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                     <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                     <li><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a></li>
                     <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </footer>

       
       <!-- Modal update your profile Start-->
      <div class="modal fade global-modal profile-modal" id="profileModal">
         <div class="modal-dialog max-WT-600">
               <div class="modal-content">
			    <div class="modal-header ">
                        <!-- <h4 class="modal-title text-center">Sign In</h4> -->
                        <span class="modal_logo">
                        <img class="hide_small" src="images/logo.png" alt="Logo"/>
                        <img class="hide_large" src="images/logo-mob.png" alt="Logo"/>
                        </span>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                     </div>
              <div class="modal-body text-center">
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                  <h2 class="modal-hdng">Please update your profile!</h2>
                  <div class="modal_txt">
                      <p class="txt">Your profile is only 20% completed!</p>
                      <p class="txt">Please complete your profile for better matchmaking of  jobs!</p>
                  </div>
                  <button class="btn btn-dark-gray max-WT-200" data-dismiss="modal">CONTINUE</button>
              </div>
           </div>
         </div>
      </div>
      <!-- Modal update your profile End -->
    
       <!-- Change Password_modal Start -->
      <div class="modal fade global-modal reset-modal" id="change_passwprd_modal">
         <div class="modal-dialog max-WT-500">
            <form class="change_password">
               <div class="modal-content">
                    <div class="modal-header ">
                        <!-- <h4 class="modal-title text-center">Sign In</h4> -->
                        <span class="modal_logo">
                        <img class="hide_small" src="images/logo.png" alt="Logo"/>
                        <img class="hide_large" src="images/logo-mob.png" alt="Logo"/>
                        </span>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                     </div>
                     <div class="modal-body">
                        <div class="modal_box_title">
                           Change Password
                        </div>
                     <div class="row align-items-center modal_flax_height">
                        <div class="col">
                           <div class="form-group">
                              <label class="control-labe">Old Password</label>
                              <input class="form-control" placeholder=""  type="text">
                           </div>
                           <div class="form-group">
                              <label class="control-labe">New Password</label>
                              <input class="form-control" placeholder=""  type="text">
                           </div>
                           <div class="form-group">
                              <label class="control-labe">Confirm Password</label>
                              <input class="form-control" placeholder=""  type="text">
                           </div>
                           <div class="row">
                              <div class="col-6">
                                 <button type="submit" class="btn btn-gray radius0 btn-block">SUBMIT</button>
                              </div>
                              <div class="col-6">
                                 <button type="button" class="btn btn-red  radius0 btn-block" data-dismiss="modal">CANCEL</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <!-- Change Password_modal End -->
      <!-- signout_modal Start -->
      <div class="modal fade global-modal reset-modal" id="signout_modal">
         <div class="modal-dialog max-WT-500">
            <div class="modal-content">
			 <div class="modal-header ">
                        <!-- <h4 class="modal-title text-center">Sign In</h4> -->
                        <span class="modal_logo">
                        <img class="hide_small" src="images/logo.png" alt="Logo"/>
                        <img class="hide_large" src="images/logo-mob.png" alt="Logo"/>
                        </span>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                     </div>
               <!-- Modal body -->
               <div class="modal-body  text-center">
                  <div class="row align-items-center modal_flax_height">
                     <div class="col">
                        <div class="box-title mb40 d-inline-block">
                           <h2>Logout?</h2>
                           <p>Are you sure you want to logout?</p>
                        </div>
                        <div class="text-center">
                           <a href="index.html" class="max-WT-300 btn btn-gray radius0 ">YES</a>
                           <button type="button" class="max-WT-300 btn btn-red  radius0 mt10" data-dismiss="modal">CANCEL</button>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Signout Modal -->
       
       
       
      <script src="js/jquery-3.3.1.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/common.js"></script>
   </body>
</html>