 {% extends 'base.html' %} {% load static %} {% block content %}


<div class="InnertopBanner" style="background-image:url({% static 'images/contact-us-bg.png' %});">
    <div class="InnertopBanner-content d-flex align-items-center w-100 text-center">
        <div class="w-100">
            <div class="container">
                <h1>Singularly fabulous work without boundaries</h1>
                <p>Connecting 2 million+ professionals with remote and freelance jobs using artificial intelligence.</p>
            </div>
        </div>
    </div>
</div>
<!-- main Start -->
<main class="main-container">
    <section class="static-content-section">
        <div class="container">
            <!-- form-box start -->
            <div class="form-box center-box max-WT-350">
                <div class="row align-items-center modal_flax_height">
                    <div class="col">
                        <div class="sec_head mb30 text-center">
                            <h3>Create a new password</h3>
                        </div>
                        <form>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="New Password*" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Confirm Password*" />
                            </div>
                            <div class="form-group mb0 text-center">
                                <button class="btn bg-green max-WT-200" type="button" data-toggle="modal" data-target="#reset_password_success">SUBMIT</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- form-box End -->
        </div>
    </section>
    <!-- Join_now_section Start -->
    <section class="join_now_section text-center">
        <div class="joinnow_banner d-flex align-items-center w-100">
            <div class="container">
                <div class="sec_head mb15">
                    <h3 class="white">Join over 2 million others in the future of work</h3>
                </div>
                <button type="button" class="btn bg-white-animate btn-large max-WT-300" data-target="#signup_option" data-toggle="modal">GET STARTED NOW</button>
            </div>
        </div>
    </section>
    <!-- Join_now_section End -->
</main>
<!-- main End -->
{% endblock %}